body {
    background-image: url("background.jpg");
    backdrop-filter: blur(8px);
    font-size: 35px;
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    resize: both;
}

.bg-text {
    background-color: white;
    color: black;
    position: relative;
    width: 100%;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    text-align: center;
    padding: 20px;
}

.index {
    color: white;
}

.index2 {
    color: black;
}

#foot {
    width: 100%;
    position: relative;
    margin-top: 200px;
}

.nav {
    color: black;
    transition: 0.5s;
}

.nav:hover {
    color: white;
}

.modal-open {
    overflow: scroll;
}