body {
    background-image: url("background.jpg");
    backdrop-filter: blur(8px);
    height: 100%;
    font-size: 35px;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}

.bg-text {
    background-color: white;
    color: black;
    position: fixed;
    bottom: 55%;
    width: 100%;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    padding: 20px;
    text-align: center;
}

.index {
    color: white;
}

.index2 {
    color: black;
}

#foot {
    position: fixed;
    bottom: 0; 
    width: 100%;
}